[submodule "mongodb-sample-databases"]
	path = dumps/mongodb-sample-databases
	url = https://github.com/mcampo2/mongodb-sample-databases.git
	branch = master

[submodule "dotnet-example"]
	path = tests/dotnet-example
	url = https://github.com/FerretDB/dotnet-example.git
	branch = main
[submodule "enmeshed-runtime"]
	path = tests/enmeshed-runtime
	url = https://github.com/nmshd/runtime.git
	branch = main
[submodule "java-example"]
	path = tests/java-example
	url = https://github.com/FerretDB/java-example.git
	branch = main
[submodule "meteor"]
	path = tests/meteor
	url = https://github.com/meteor/meteor.git
	branch = devel
[submodule "mongo"]
	path = tests/mongo
	url = https://github.com/mongodb/mongo.git
	branch = v7.0
[submodule "mongo-go-driver"]
	path = tests/mongo-go-driver
	url = https://github.com/mongodb/mongo-go-driver.git
	branch = master
[submodule "python-example"]
	path = tests/python-example
	url = https://github.com/FerretDB/python-example.git
	branch = main
[submodule "restheart"]
	path = tests/restheart
	url = https://github.com/SoftInstigate/restheart.git
	branch = master
[submodule "tests/nodejs-example"]
	path = tests/nodejs-example
	url = https://github.com/FerretDB/nodejs-example.git
	branch = main
