[submodule "dotnet-example"]
	path = tests/dotnet-example
	url = https://github.com/FerretDB/dotnet-example.git
	branch = main
[submodule "enmeshed-runtime"]
	path = tests/enmeshed-runtime
	url = https://github.com/nmshd/cns-runtime.git
	branch = main
[submodule "java-example"]
	path = tests/java-example
	url = https://github.com/FerretDB/java-example.git
	branch = main
[submodule "mongo"]
	path = tests/mongo
	url = https://github.com/mongodb/mongo.git
	branch = master
[submodule "mongo-go-driver"]
	path = tests/mongo-go-driver
	url = https://github.com/mongodb/mongo-go-driver.git
	branch = master
[submodule "mongodb-sample-databases"]
	path = dumps/mongodb-sample-databases
	url = https://github.com/mcampo2/mongodb-sample-databases.git
	branch = master
[submodule "python-example"]
	path = tests/python-example
	url = https://github.com/FerretDB/python-example.git
	branch = main
[submodule "react-tutorial"]
	path = react-tutorial
	url = https://github.com/meteor/react-tutorial.git
