---
version: "3.8"

services:
  postgresql:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    container_name: dance_postgresql
    restart: unless-stopped
    depends_on: ["postgres"]
    ports:
      - 27017:27017
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_POSTGRESQL_URL=postgres://user@postgres:5432/dance
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sqlite:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    container_name: dance_sqlite
    restart: unless-stopped
    ports:
      - 27017:27017
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_HANDLER=sqlite
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .data:/data

  postgres:
    build:
      context: ./build/deps
      dockerfile: postgres.Dockerfile
    container_name: dance_postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_USER=user
      - POSTGRES_DB=dance
      - POSTGRES_HOST_AUTH_METHOD=trust

  mongodb:
    build:
      context: ./build/deps
      dockerfile: mongo6.Dockerfile
    command: --setParameter enableTestCommands=1
    container_name: dance_mongodb
    restart: unless-stopped
    ulimits:
      nproc: 64000
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 27017:27017
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # never started normally, used only for mongosh, mongodump, etc.
  mongosh:
    build:
      context: ./build/deps
      dockerfile: mongo6.Dockerfile
    container_name: dance_mongosh
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./dumps:/dumps

  # legacy mongo shell
  mongo:
    build:
      context: ./build/deps
      dockerfile: mongo.Dockerfile
    container_name: dance_mongo
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"
    working_dir: /tests/mongo
    volumes:
      - ./tests/mongo:/tests/mongo

  # used for testing a replica set
  mongodb_replset:
    build:
      context: ./build/deps
      dockerfile: ${MONGO_DOCKERFILE:-mongo6}.Dockerfile
    container_name: dance_mongodb_replset
    command: mongod --port 27017 --bind_ip_all --replSet rs0
    ports:
      - 27017:27017
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu

  # initiates the replica set
  # we need a separate container to run rs.initiate()
  init_mongodb_replset:
    build:
      context: ./build/deps
      dockerfile: ${MONGO_DOCKERFILE:-mongo6}.Dockerfile
    container_name: init_mongodb_replset
    depends_on:
      - mongodb_replset
    restart: "no"
    entrypoint: ["bash", "-c", "sleep 10 && mongosh --host mongodb_replset:27017 --eval 'rs.initiate();'"]

  # for documentation
  textlint:
    build:
      context: ./build/deps
      dockerfile: ferretdb-textlint.Dockerfile
    container_name: ferretdb_ferretdb-textlint
    volumes:
      - .:/workdir
  markdownlint:
    build:
      context: ./build/deps
      dockerfile: markdownlint.Dockerfile
    container_name: ferretdb_markdownlint
    volumes:
      - .:/workdir
