---
version: '3.8'

services:
  ferretdb:
    image: ${FERRETDB_IMAGE:-ghcr.io/ferretdb/ferretdb:local}
    container_name: dance_ferretdb
    restart: on-failure
    ports:
      - 127.0.0.1:27017:27017
    command: ["--listen-addr=:27017", "--postgresql-url=postgres://user@postgres:5432/dance"]
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu

  postgres:
    image: postgres:14.1
    container_name: dance_postgres
    ports:
      - 127.0.0.1:5432:5432
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_USER=user
      - POSTGRES_DB=dance
      - POSTGRES_HOST_AUTH_METHOD=trust

  # for mongosh
  mongodb:
    image: mongo:5.0.4
    container_name: dance_mongodb
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
