---
services:
  mongodb:
    build:
      context: ./build/deps
      dockerfile: mongo.Dockerfile
    command: --config /etc/mongod.conf
    restart: on-failure
    ulimits:
      nproc: 64000
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 37001:37001
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./build/mongod.conf:/etc/mongod.conf

  mongodb-secured:
    build:
      context: ./build/deps
      dockerfile: mongo.Dockerfile
    command: --config /etc/mongod.conf
    restart: on-failure
    ulimits:
      nproc: 64000
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 37002:37002
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - MONGO_INITDB_ROOT_USERNAME=username
      - MONGO_INITDB_ROOT_PASSWORD=password
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./build/mongod_secured.conf:/etc/mongod.conf

  ferretdb-postgresql:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    restart: on-failure
    depends_on: ["postgres"]
    ports:
      - 27001:27001
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_LISTEN_ADDR=:27001
      - FERRETDB_HANDLER=postgresql
      - FERRETDB_POSTGRESQL_URL=postgres://postgres_user:postgres_password@postgres:5432/dance?sslmode=disable
      # - FERRETDB_REPL_SET_NAME=rs0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ferretdb-sqlite-replset:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    restart: on-failure
    ports:
      - 27002:27002
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_LISTEN_ADDR=:27002
      - FERRETDB_HANDLER=sqlite
      - FERRETDB_SQLITE_URL=file:/state/?_pragma=busy_timeout(20000)
      - FERRETDB_REPL_SET_NAME=rs0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ferretdb-postgresql-secured:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    restart: on-failure
    depends_on: ["postgres"]
    ports:
      - 27003:27003
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_LISTEN_ADDR=:27003
      - FERRETDB_HANDLER=postgresql
      - FERRETDB_POSTGRESQL_URL=postgres://postgres_user:postgres_password@postgres:5432/dance?sslmode=disable
      - FERRETDB_TEST_ENABLE_NEW_AUTH=true
      - FERRETDB_SETUP_USERNAME=username
      - FERRETDB_SETUP_PASSWORD=password
      - FERRETDB_SETUP_DATABASE=admin
      # - FERRETDB_REPL_SET_NAME=rs0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ferretdb-sqlite-replset-secured:
    image: ${FERRETDB_IMAGE:-ferretdb-local}
    restart: on-failure
    ports:
      - 27004:27004
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
      - FERRETDB_LISTEN_ADDR=:27004
      - FERRETDB_HANDLER=sqlite
      - FERRETDB_SQLITE_URL=file:/state/?_pragma=busy_timeout(20000)
      - FERRETDB_TEST_ENABLE_NEW_AUTH=true
      - FERRETDB_SETUP_USERNAME=username
      - FERRETDB_SETUP_PASSWORD=password
      - FERRETDB_SETUP_DATABASE=admin
      - FERRETDB_REPL_SET_NAME=rs0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  postgres:
    build:
      context: ./build/deps
      dockerfile: postgres.Dockerfile
    restart: on-failure
    ports:
      - 5432:5432
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_DB=dance

  mongosh:
    build:
      context: ./build/deps
      dockerfile: mongo.Dockerfile
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./dumps:/dumps

  legacy-mongo-shell:
    build:
      context: ./build/deps
      dockerfile: legacy-mongo-shell.Dockerfile
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    extra_hosts:
      - "host.docker.internal:host-gateway"
    working_dir: /projects/mongo
    volumes:
      - ./projects/mongo:/projects/mongo

  # for documentation
  textlint:
    build:
      context: ./build/deps
      dockerfile: ferretdb-textlint.Dockerfile
    volumes:
      - .:/workdir
  markdownlint:
    build:
      context: ./build/deps
      dockerfile: markdownlint.Dockerfile
    volumes:
      - .:/workdir
