---
name: Dance
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '42 3 * * *'

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOMODCACHE: /home/runner/go/cache/mod
  GOPROXY: https://proxy.golang.org # remove direct
  FERRETDB_IMAGE: ghcr.io/ferretdb/ferretdb:latest

jobs:
  mongo-go-driver:
    name: mongo-go-driver
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Start pulling environment in the background
        run: make env-pull &

      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main

      - name: Start environment
        run: make env-up-detach

      - name: Run init
        run: make init

      - name: Dance!
        run: make dance

      - name: Check dirty
        run: |
          git status
          git diff --exit-code

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main

      - name: Run init
        run: make init

      - name: Format code
        run: make fmt

      - name: Run required linters
        uses: golangci/golangci-lint-action@v2
        if: ${{ false }} # skip until golangci-lint is recompiled with Go 1.18
        with:
          version: v1.43 # sync with tools/go.mod
          args: --config=.golangci-required.yml
          only-new-issues: false
          skip-go-installation: true
          skip-pkg-cache: true
          skip-build-cache: true

      - name: Run all linters
        uses: golangci/golangci-lint-action@v2
        if: ${{ false }} # skip until golangci-lint is recompiled with Go 1.18
        with:
          version: v1.43 # sync with tools/go.mod
          args: --config=.golangci.yml
          only-new-issues: true
          skip-go-installation: true
          skip-pkg-cache: true
          skip-build-cache: true

      - name: Run linters manually
        run: make lint

      - name: Check dirty
        run: |
          git status
          git diff --exit-code
