---
name: Dance
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "42 3 * * *"

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOLANGCI_LINT_CACHE: /home/runner/go/cache/lint
  GOMODCACHE: /home/runner/go/mod
  GOPROXY: https://proxy.golang.org

jobs:
  dance:
    name: dance
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        db:
          - ferretdb
          - mongodb
        test:
          - mongo-go-driver

    steps:
      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main
        with:
          cache-key: dance

      - name: Extract Docker image name and tag
        id: extract
        uses: FerretDB/github-actions/extract-docker-tag@main

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Task
        run: go generate -x
        working-directory: tools

      - name: Start environment
        run: bin/task env-up-detach
        env:
          FERRETDB_IMAGE: ghcr.io/ferretdb/ferretdb-dev:main
          DB: ${{ matrix.db }}

      - name: Run init
        run: bin/task init

      - name: Dance!
        run: bin/task dance
        env:
          DB: ${{ matrix.db }}
          TEST: ${{ matrix.test }}

      - name: Collect logs
        if: failure()
        run: |
          bin/task env-logs > /tmp/compose-logs.txt

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: compose-logs-${{ matrix.db }}-${{ matrix.test }}.txt
          path: /tmp/compose-logs.txt

      - name: Check dirty
        run: |
          git status
          git diff --exit-code
