---
name: Dance
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '42 3 * * *'

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOMODCACHE: /home/runner/go/cache/mod
  GOPROXY: https://proxy.golang.org # remove direct
  FERRETDB_IMAGE: ghcr.io/ferretdb/ferretdb:latest

jobs:
  dance:
    name: dance
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        db:
          - ferretdb
          - mongodb
        test:
          - ferret
          - mongo-go-driver

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Start pulling environment in the background
        run: make env-pull &

      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main
        with:
          cache-key: dance

      - name: Start environment
        run: make env-up-detach
        env:
          DB: ${{ matrix.db }}

      - name: Run init
        run: make init

      - name: Dance!
        run: make dance
        env:
          TEST: ${{ matrix.test }}

      - name: Collect logs
        if: failure()
        run: |
          make env-logs > /tmp/compose-logs.txt

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: compose-logs.txt
          path: /tmp/compose-logs.txt

      - name: Check dirty
        run: |
          git status
          git diff --exit-code
